@charset "UTF-8";
body{
			margin: 0px;
			padding: 0px;
		}
		
		#footer {
                height: 40px;
                line-height: 40px;
                position: fixed;
                bottom: 0;
                width: 100%;
                text-align: center;
                /* background: #1183C2; */
                background: #64beef;
                color: #fff;
                font-family: Arial;
                font-size: 12px;
                letter-spacing: 1px;
            }